{
    "tabWidth": 4,
    "singleAttributePerLine": true,
    "singleQuote": true,
    "bracketSameLine": true,
    "arrowParens": "avoid",
    "endOfLine": "auto",
    "jsxSingleQuote": true,
    "semi": false,
    "printWidth": 80,
    "importOrderParserPlugins": ["typescript", "vue"],
    "importOrder": [
        "<THIRD_PARTY_MODULES>",
        "^@app/(.*)$",
        "^@pages/(.*)$",
        "^@widgets/(.*)$",
        "^@features/(.*)$",
        "^@entities/(.*)$",
        "^@shared/(.*)$",
        "^@processes/(.*)$",
        "^[@/]",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrderCaseInsensitive": true
}
